# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

#vs code
.vscode/